

<!-- Toolbar -->
<div class="toolbar" role="banner">

  <h1>Routing & Navigation</h1>
</div>
<nav>
  <a routerLink="/component1" routerLinkActive="active">Component1</a>
  <a routerLink="/component2" routerLinkActive="active">Component2</a>
</nav>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>
